@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Text Color Utilities
.text-gray {
  @apply text-gray-500;

  &.hover-text {
    @apply hover:text-gray-900;
  }
}

.text-dark {
  @apply text-gray-900;
}

.text-accent {
  @apply text-teal-500;

  &.hover-text {
    @apply hover:text-teal-600;
  }
}

.text-accent-dark {
  @apply text-teal-600;
}

// Background Color
.bg-accent {
  @apply bg-teal-500 bg-opacity-95;

  &.hover-bg {
    @apply hover:bg-teal-600;
  }
}

// Padding
.pad-top {
  @apply pt-16 md:pt-24;
}

.pad-tb {
  @apply py-16 md:py-24;
}

// Utility Class for Dark Background Overlay
.blackdrop {
  background-color: rgba(0, 0, 0, 0.7);
}