@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//Darkhorse SVG Logo
// .logoSVGColor {

// }

@mixin text-color($color, $value) {
  @apply text-#{$color}-#{$value};
}

@mixin hover($color, $value) {
  @apply hover:text-#{$color}-#{$value};
}

@mixin hover-bg($color, $value) {
  @apply hover:bg-#{$color}-#{$value};
}


// Text
.text-gray {
  @include text-color("gray", 500);
  &.hover-text {
    @include hover("gray", 900);
  }
}

.text-dark {
  @include text-color("gray", 900);
}

.text-accent {
  @include text-color("teal", 500);
  &.hover-text {
    @include hover("teal", 600);
  }
}

.text-accent-dark {
  @include text-color("teal", 600);
}

//Background Color
.bg-accent {
  @apply bg-teal-500;
  @apply bg-opacity-95;
  &.hover-bg {
    @include hover-bg("teal", 600);
  }
}

// Padding
@mixin pad-top($value) {
  @apply pt-#{$value} md:pt-#{$value + 8};
}

@mixin pad-tb($value) {
  @apply py-#{$value} md:py-#{$value + 8};
}

.pad-top {
  //Set base pad-top value for mobile
  @include pad-top(16);
}

.pad-tb {
  //Set base pad-top-bottom value for mobile
  @include pad-tb(16);
}

.blackdrop {
  background-color: rgba(0, 0, 0, 0.70);
}
